:root {
  --text-color-dark: #373f51;
  --text-color-light: #fcfffd;
  --text-color-orange: #f56476;
  --bg-color-blue: #2298e2;
  --norm-border-radius: 10px;
}

.centerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.generatedUserName {
  color: var(--bg-color-blue);
}

.usernameInput {
  border: 1px solid var(--bg-color-blue) !important;
}

.updateUsernameForm {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 30px;
  width: 300px !important;
}

@media (max-width: 768px) {
  .updateUsernameForm {
    width: 100% !important;
  }
}
