:root {
  --text-color-dark: #373f51;
  --text-color-light: #fcfffd;
  --text-color-orange: #f56476;
  --bg-color-blue: #2298e2;
  --norm-border-radius: 10px;
}

.allWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.faqsStyleWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
